@import "tailwindcss";
@config "../tailwind.config.js";

body {
    background-image: url("src/assets/Images/back-image.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


